body {
  background-color: #9cc1a1;
}

div code {
  background-color: #f7f7f7;
  text-align: center;
  margin: 10px;
  padding: 8px;
}

h2{
  font-style: italic;
  font-size: 1.25em;
}

h4{
  font-style: italic;
}

code{
  font-size: 13px;
}

p{
  text-indent: 18px;
}

body{
  margin-bottom: 30px;
}

.boldText{
  font-weight: bolder;
}

div a{
  text-decoration: none;
  background-color: #f7f7f7;
  text-align: center;
  margin: 10px;
  padding: 8px;
}

div a:visited{
  color: #000;
  text-decoration: none;
  background-color: #f7f7f7;
  text-align: center;
  margin: 10px;
  padding: 8px;
}


div a:hover{
  text-decoration: none;
  border: 2px solid #8000EE;
  text-align: center;
  margin: 10px;
  padding: 8px;
}

